html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(50,50,93);
  background: linear-gradient(180deg, rgba(50,50,93,1) 40%, rgba(82,95,127,1) 100%) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

.particles {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;
}

.btn-primary {
  background: #e14eca;
  border: none;
  box-shadow: none;
  color: #fff;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background: #e14eca;
  color: #fff;
  text-decoration: none;
}

.bg-dark {
  background-color: rgb(50,50,93)!important;
}

.cards {
  background: rgb(50,50,93);
  border: 2px solid #fff;
}

hr {
  background-color: #000;
  width: 25%;
}

.circular-img {
  border: 3px solid #000;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.card-form {
  background: #1f2251;
  width: 75%;
}

.form-control {
  background-color: #1f2251;
  border: 1px solid #cad1d7;
  border-color: #2b3553;
}

.form-control:focus {
  background-color: #1f2251;
  border-color: #1d8cf8;
}
